<?xml version="1.0" encoding="UTF-8"?>
<binding>
	<name>Audio</name>
	<folder>audio</folder>
	<description>Module</description>
	<icon><![CDATA[<i class="fa fa-music"></i>]]></icon>
	<version>0.0.1</version>
	<author>
		<name>Robert Andresen</name>
		<mail>ra@fosen-utvikling.no</mail>
		<phone></phone>
		<web>http://mysmarthome.no</web>
	</author>
</binding>